<div class="fade-in settings-container">
    <div class="header-section">
        <h1>World management</h1>
    </div>

    <div class="settings-grid">
        <div class="settings-card full-width">
            <h3>Current world Settings</h3>
            <span class="info-text" style="font-size: 0.8rem; color: rgba(255,255,255,0.5); font-style: italic;">
            Note: If the name does not exist in the list, a new entry will be created.
            </span>
            <div class="world-config-form">
                <div class="form-group">
                    <label>World Name <i style="color: #f26d6d">*</i> <i style="color: #5fc78f">(Active world)</i> <i style="color: #dbb26b">(New world)</i></label>
                    <input type="text" id="world-name" placeholder="world" style="color: #5fc78f">
                </div>
                <div class="form-group">
                    <label>Seed</label>
                    <input type="text" id="world-seed" placeholder="Random seed if empty">
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label>Difficulty <i style="color: #f26d6d">*</i></label>
                        <select id="world-difficulty">
                            <option value="PEACEFUL">Peaceful</option>
                            <option value="EASY">Easy</option>
                            <option value="NORMAL">Normal</option>
                            <option value="HARD">Hard</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Gamemode <i style="color: #f26d6d">*</i></label>
                        <select id="world-gamemode">
                            <option value="SURVIVAL">Survival</option>
                            <option value="CREATIVE">Creative</option>
                            <option value="ADVENTURE">Adventure</option>
                            <option value="SPECTATOR">Spectator</option>
                        </select>
                    </div>
                </div>

                <div class="form-group checkbox-group">
                    <label>
                        <input type="checkbox" id="world-hardcore"> Hardcore Mode
                    </label>
                </div>

                <div class="form-group" style="align-items: flex-end; margin-top: 10px;">
                    <button class="btn btn-save-small" onclick="saveWorldConfig()">Active world and save config</button>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-card mt-20">
        <h3>Worlds list</h3>
        <div class="world-list-container">
            <table class="world-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Gamemode</th>
                    <th>Difficulty</th>
                    <th>Hardcore</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="world-list-body">
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>