<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ObsidianGate - Panel</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/panel/panel.css">
</head>
<body>
<div class="panel-layout">
    <aside class="sidebar">
        <div class="sidebar-logo">
            <img src="../image/icon/portal-icon.gif" alt="Logo" class="logo-img">
            <span>ObsidianGate</span>
        </div>

        <nav class="sidebar-menu">
            <button onclick="router.load('home')" class="menu-item active">
                <img src="../image/icon/home.png" alt="Dashboard" class="menu-icon"> Dashboard
            </button>
            <button onclick="router.load('server')" class="menu-item">
                <img src="../image/icon/server.png" alt="Server" class="menu-icon"> Server
            </button>
            <button onclick="router.load('world')" class="menu-item">
                <img src="../image/icon/world.png" alt="World" class="menu-icon"> World
            </button>
            <button onclick="router.load('command')" class="menu-item">
                <img src="../image/icon/command.png" alt="Security" class="menu-icon"> Commands
            </button>
            <button onclick="router.load('security')" class="menu-item">
                <img src="../image/icon/shield.png" alt="Security" class="menu-icon"> Security
            </button>
            <button id="nav-log" onclick="router.load('log')" class="menu-item">
                <img src="../image/icon/log.png" alt="Security" class="menu-icon"> Logger
            </button>
        </nav>

        <div class="sidebar-user">
            <div class="user-info">
                <small id="txt-username">-</small>
            </div>
            <button onclick="logout()" class="btn-logout">Log out</button>
            <div class="credits">
                <p>Created by <a href="https://github.com/oZaGGo" target="_blank">@ZaGG</a></p>
            </div>
        </div>
    </aside>

    <main class="main-content" id="view-container">
    </main>
</div>

<script src="../js/auth.js"></script>
<script src="../js/panel.js"></script>
</body>
</html>