<div class="user-config-form">
  <h3 id="userSelected" class="modal-title"></h3>

  <div class="modal-field">
    <label for="newPassword">New Password <i>*</i></label>
    <input
            id="newPassword"
            type="password">
  </div>

  <div class="modal-footer">
    <button type="button" class="btn-cancel" onclick="document.getElementById('dynamicModal').close();">
      Cancel
    </button>
    <button type="submit" class="btn btn-save-small" id="btnChangePassword">
      Update Password
    </button>
  </div>
</div>